/* #root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding:2cap 10cap;
} */

html , body , #root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
  text-transform: capitalize;
  font-family: 'Formula Condensed', sans-serif;
}

.app{
    /* width: 100%; */
    padding: 2rem;
    height: 100%;
    gap: var(--global-gap);
    display: flex;
    flex-direction: column;
    margin-bottom: 10cap;
  }



  .todos-container{

    gap: 2cap;
    display: flex;
    flex-direction: column;
  }

  .todos-container * {
    /* z-index: -999; */
  }

  .floating-button {
    position: absolute;
    bottom: 1cap;
    right: 1cap;
    width: 3cap;
    height: 3cap;
    background-color: var(--button-color);
    color: var(--primary-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.5cap;
    font-weight: 900;
    z-index: 999;
  }

  .floating-button:hover {
    background-color: var(--button-color-hover);
  }




  input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}