#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding:2cap 10cap;
}


  .app{
    width: 100%;
    height: 100%;
    gap: 5cap;
    display: flex;
    flex-direction: column;
  }


  .todos-container{

    gap: 1cap;
    display: flex;
    flex-direction: column;
  }