#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 50%;  
}


  .app{
    gap: 20px;
    display: flex;
    flex-direction: column;
  }


  .todos-container{
    gap: 5px;
    display: flex;
    flex-direction: column;
  }