.filter-buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.filter-buttons-title{
    font-size: 1em;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    color: var(--text-color-secondary);
}

.filter-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding-left: 20px;
}

.filter-buttons-button{
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
    width: 100px;
    height: 80px;
    border-radius: 10%;
}
.filter-buttons-button-active{
    background-color: var(--text-color-secondary);
    color: var(--text-color);
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
    width: 100px;
    height: 80px;
    border-radius: 10%;
}



.filter-buttons-button:hover{
    background-color: var(--text-color-secondary-hover);
}
