.filter-buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3cap;
    /* height: 100%; */
    /* height: 8cap; */
    /* z-index: -999; */
    /* height: 10vw;
    min-height: 90px;
    max-height: 200px; */
    box-sizing: border-box;
    margin: 0 auto;
    /* overflow: hidden; */
}

/* .filter-buttons-container * {
    z-index: -999;
} */

.filter-buttons-title{
    font-size: 1em;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    color: var(--text-color-secondary);
}

.filter-buttons-title-button{
    background-color: transparent;
    font-size: 1em;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    color: var(--text-color-secondary);
    border: none;
    cursor: pointer;
}

.filter-buttons-button-label-container{
    /* background-color:var(--secondary-color); */
    font-size: 1em;
    font-weight: 600;
    color: var(--text-color);
    /* margin: 0;
    padding: 0; */
    /* text-align: left; */
    width: 3.5cap;
    /* height: 100%; */
    color: var(--text-color-secondary);
    border: none;
    cursor: pointer;
    position: relative;
}   

.filter-buttons-button-label-count{
    position: absolute;
    top: -.5cap;
    /* left: -.10cap; */
    font-size: .8em;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: var(--button-color-checked);
    color: var(--secondary-color);
    border-radius: 50%;
    padding: 0.5cap;
    width: .5cap;
    height: .5cap;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.filter-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 100%; */
    gap: 1cap;
    padding-left: 2cap;
    border: 0;
    overflow-x: scroll;      /* enable horizontal scroll */
    white-space: nowrap;   /* keep items on one line */
    scrollbar-width: thin; /* Firefox */
    white-space: nowrap;
    scrollbar-width: none; /* Firefox - completely hide scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
}
/* Hide scrollbar for Chrome, Safari, Opera */
.filter-buttons::-webkit-scrollbar {
    display: none;  /* Changed from height: 0px to display: none */
}

.filter-buttons-button{
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;    
    position: relative;
    border-radius: 30%;
    gap: 8px;
    border-radius: 9999px;   /* pill shape */
    border: 1px solid rgba(255, 255, 255, 0.35);
    /* box-shadow: 0 0 1px 0 rgba(255, 255, 255, 1); */
    transition: all 0.3s ease;
    font-size: 11px;
    cursor: pointer;
    /* outline: none; */
    padding: .6cap .6cap;
    width: 10%;
    min-width: 11%;
    min-width: 8cap;
    /* max-width: 15%; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @media (min-width: 600px) {
    .filter-buttons-button{
        min-width: 10%;
        max-width: 11%;
        width: 9%;
    } 
} */


.filter-buttons-button-active{
    background-color: var(--button-color);
    color: var(--secondary-color);
    border: none;
    position: relative;
    border-radius: 9999px;  
    border: 1px solid rgba(255, 255, 255, 0.35);
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
    /* outline: none; */
    width: 8cap;
    min-width: 8cap;
    /* max-width: 10cap; */
}

.filter-buttons-button-label {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-buttons-button:hover{
    background-color: var(--button-color);
    color: var(--secondary-color);
}

/* .filter-buttons-button:focus,
.filter-buttons-button-active:focus {
    outline: none;
} */

.filter-buttons-button-count{
    position: absolute;
    top: -.1cap;
    right: -.5cap;
    font-size: 1em;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: var(--button-color-checked);
    color: var(--secondary-color);
    border-radius: 50%;
    padding: 0.5cap;
    width: .9cap;
    height: .9cap;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}




.todo-item-tag-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1cap;
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 9999px;
    font-size: 11px;
    padding: 0 0.5cap;
    /* width: 10%; */
    /* min-width: 10%; */
    /* max-width: 10%; */
}





.filter-buttons-date-container{
    width: 15cap;
    height: 15cap;
    background-color: var(--button-color);
    border-radius:var(--global-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 11px;
    padding: 1.5cap;
    box-sizing: border-box;
    position: relative;
}

/* @media (min-width: 600px) {
    .filter-buttons-date-container{
        width: 15%;
        height: 100%;
    }
}
@media (max-width: 600px) {
    .filter-buttons-date-container{
        width: 10%;
        height: 15%;
    }
} */

.filter-buttons-date-container-upper{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--button-color-checked);
    border-top-left-radius: var(--global-border-radius);
    border-top-right-radius: var(--global-border-radius);
    width: 100%;
    height: 30%;
}

.filter-buttons-date-container-upper-left{
    position: absolute;
    top: -15%;
    left: 15%;
    width: 8%;
    height: 100%;
    background-color: white;
    border-radius: var(--global-border-radius);
    margin-top: -5%;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.9);
}

.filter-buttons-date-container-upper-right{
    position: absolute;
    top: -15%;
    left: 75%;
    width: 8%;
    height: 100%;
    background-color: white;
    border-radius: var(--global-border-radius);
    margin-top: -5%;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.9);
}
