.filter-buttons-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    gap: 3cap;
    /* height: 100%; */
    /* height: 8cap; */
    /* z-index: -999; */
    /* height: 10vw;
    min-height: 90px;
    max-height: 200px; */
    box-sizing: border-box;
    margin: 0 auto;
    /* overflow: hidden; */
}

/* .filter-buttons-container * {
    z-index: -999;
} */

.filter-buttons-title{
    font-size: 1em;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    color: var(--text-color-secondary);
    text-align: left;
}

.filter-buttons-title-button{
    background-color: transparent;
    font-size: 1em;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    color: var(--text-color-secondary);
    border: none;
    cursor: pointer;
}

.filter-buttons-button-label-container{
    /* background-color:var(--secondary-color); */
    font-size: 1em;
    font-weight: 600;
    color: var(--text-color);
    /* margin: 0;
    padding: 0; */
    /* text-align: left; */
    width: 3.5cap;
    /* height: 100%; */
    color: var(--text-color-secondary);
    border: none;
    cursor: pointer;
    position: relative;
}   

.filter-buttons-button-label-count{
    position: absolute;
    top: -.5cap;
    /* left: -.10cap; */
    font-size: .8em;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: var(--button-color-checked);
    color: var(--secondary-color);
    border-radius: 50%;
    padding: 0.5cap;
    width: .5cap;
    height: .5cap;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.filter-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 100%; */
    gap: 1cap;
    /* padding-left: 2cap; */
    /* border: 0; */
    overflow-x: scroll;      /* enable horizontal scroll */
    white-space: nowrap;   /* keep items on one line */
    scrollbar-width: thin; /* Firefox */
    white-space: nowrap;
    scrollbar-width: none; /* Firefox - completely hide scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    background-color: var(--primary-color);
    margin: 0 auto;
}
/* Hide scrollbar for Chrome, Safari, Opera */
.filter-buttons::-webkit-scrollbar {
    display: none;  /* Changed from height: 0px to display: none */
}

.filter-buttons-button{
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;    
    position: relative;
    border-radius: 30%;
    gap: 8px;
    border-radius: 9999px;   /* pill shape */
    transition: all 0.5s ease;
    /* border: 1px solid rgba(255, 255, 255, 0.35); */
    /* box-shadow: 0 0 1px 0 rgba(255, 255, 255, 1); */
    font-size: 11px;
    cursor: pointer;
    /* outline: none; */
    padding: .6cap .6cap;
    width: 10%;
    min-width: 11%;
    min-width: 8cap;
    /* max-width: 15%; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @media (min-width: 600px) {
    .filter-buttons-button{
        min-width: 10%;
        max-width: 11%;
        width: 9%;
    } 
} */


.filter-buttons-button-active{
    background-color: var(--button-color);
    color: var(--secondary-color);
    position: relative;
    border-radius: 9999px;  
    /* border: 1px solid rgba(255, 255, 255, 0.35); */
    border: none;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
    /* outline: none; */
    width: 9cap;
    min-width: 9cap;
    height: 5cap;
    /* max-width: 10cap; */
}

.filter-buttons-button-label {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* color: var(--text-color-secondary); */
}

.filter-buttons-button button{
    color: var(--text-color-secondary);
}

.filter-buttons-button:hover{
    background-color: var(--button-color);
    color: var(--secondary-color);
}

/* .filter-buttons-button:focus,
.filter-buttons-button-active:focus {
    outline: none;
} */

.filter-buttons-button-count{
    position: absolute;
    top: -.1cap;
    right: -.5cap;
    font-size: 1em;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: var(--button-color-checked);
    color: var(--secondary-color);
    border-radius: 50%;
    padding: 0.5cap;
    width: .9cap;
    height: .9cap;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.filter-date-button-count{
    position: absolute;
    top: -.1cap;
    right: -.5cap;
    font-size: 1em;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: var(--button-color-checked);
    color: var(--secondary-color);
    border-radius: 50%;
    padding: 0.5cap;
    width: .9cap;
    height: .9cap;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

}


.todo-item-tag-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1cap;
    background-color: var(--button-color);
    color: var(--secondary-color);
    border-radius: 9999px;
    font-size: 11px;
    padding: 0 0.5cap;
    /* width: 10%; */
    /* min-width: 10%; */
    /* max-width: 10%; */
}


.todo-item-tag-container {
    width: 20%;
}




.filter-buttons-date-container{
    /* width: 15cap;
    height: 15cap; */
    background-color: var(--button-color);
    border-radius:var(--global-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    color: var(--text-color);
    /* font-size: 11px; */
    font-size: .5em;
    padding: 1.5cap;
    box-sizing: border-box;
    position: relative;

    /* width: 15vw;
    height: 15vw;
    min-width: 110px;
    min-height: 110px;
    max-width: 250px;
    max-height: 350px; */
}

/* @media (min-width: 600px) {
    .filter-buttons-date-container{
        width: 15%;
        height: 100%;
    }
}
@media (max-width: 600px) {
    .filter-buttons-date-container{
        width: 10%;
        height: 15%;
    }
} */

.filter-buttons-date-container-upper{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--button-color-checked);
    border-top-left-radius: var(--global-border-radius);
    border-top-right-radius: var(--global-border-radius);
    width: 100%;
    /* height: 25%; */
}

.filter-buttons-date-container-upper-left{
    position: absolute;
    
    top: -15%;
    left: 15%;
    width: 8%;
    /* width: 25px; */
    height: 80%;
    background-color: white;
    /* border-radius: var(--global-border-radius); */
    border-radius: 2cap;
    /* margin-top: -1%; */
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.9);
}

.filter-buttons-date-container-upper-right{
    position: absolute;
    top: -15%;
    left: 75%;
    width: 8%;
    /* width: 25px; */
    height: 80%;
    background-color: white;
    border-radius: var(--global-border-radius);
    border-radius: 2cap;
    /* margin-top: -1%; */
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.9);
}



table{
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid var(--button-color); */
    /* border-radius: var(--global-border-radius); */
    margin-top: 1%;

    /* box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.9); */

    gap: 0;
    padding: 0;
    margin: 0;
    /* padding:0 3cap; */
    /* padding:0 10%; */


}

tr{
    border-collapse: collapse;
    /* border: 1px solid var(--button-color); */
    /* border-radius: var(--global-border-radius); */
    /* margin-top: 1%; */
    /* box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.9); */
    /* padding: 0;
    margin: 0;
    gap: 0;
    gap: 10px; */
}

td{
    /* background-color: var(--button-color);
    border-radius: var(--global-border-radius); */
    /* padding: 0 0.1cap; */
    /* width: 100%;
    height: 100%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center;
    justify-content: center; */
    /* border-collapse: collapse; */
    /* border: 1px solid var(--button-color); */
    /* border-radius: var(--global-border-radius); */
    /* margin-top: 1%; */
    border-bottom: 1px solid var(--text-color-secondary-hover);
    /* box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.9); */
    /* padding: 0;
    margin: 0; */
    /* gap: 1cap; */
    width: 2em;
    /* height: 3em; */
    /* padding: .3%; */
    font-size: 12px;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.filter-buttons-date-container-left{
    padding:0 0.1cap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-buttons-date-container-right{
    padding:0 0.1cap;
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
    justify-self: center;
}


.filter-buttons-date-container-calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);  /* 7 columns */
    grid-template-rows: repeat(6, 1fr);  /* rows auto-fill */
}
.filter-buttons-date-container-day {
    width: 100%;
    gap: 0.5cap;
    box-sizing: border-box;
}

.filter-buttons-date-container-day p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}