:root {
  --primary-color: #d6d0dd;
  /* --secondary-color: #1c1d1c93; */
  --secondary-color: rgba(4, 2, 50, 0.9);
  --text-color: #6b2323;
  --text-color-secondary: #949a9493;
  --text-color-secondary-hover: #353735;
  --button-color: #bab8b8;
  --button-color-checked: #959595;
  --button-color-hover: #8a8a8a;
  --global-gap: 4cap;
  --global-border-radius: 1cap;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-color);  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */

}

