:root {
  background-color: rgb(14, 14, 51);  
  --primary-color: rgba(13, 14, 23, 0.866);  
  --secondary-color: rgba(136, 121, 168, 0.95);  
  --text-color: #2c2c2c;  
  --text-color-secondary: #00a971;  
  --text-color-secondary-hover: #008f79;  
  --button-color: #319282; 
  --button-color-checked: #239553;  
  --button-color-hover: #075a6b; 
  --global-gap: 4cap;
  --global-border-radius: 1cap;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  color: var(--text-color-secondary);  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */

}

