:root {
  --primary-color: rgba(203, 187, 187, 0.866);  
  --secondary-color: rgba(240, 240, 240, 0.95);  
  --text-color: #2c2c2c;  
  --text-color-secondary: #a90000;  
  --text-color-secondary-hover: #1a1a1a;  
  --button-color: #923a31; 
  --button-color-checked: #239553;  
  --button-color-hover: #0d5328; 
  --global-gap: 4cap;
  --global-border-radius: 1cap;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  color: #333333;  
  background-color: var(--primary-color);  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */

}

