:root {
  --primary-color: #000000;
  --secondary-color: #1c1d1c93;
  --text-color: #ffffff;
  --button-color: #e63030;
  --button-color-checked: #008000;
  --button-color-hover: #b52525;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}
