:root {
  --primary-color: hsla(167, 50%, 57%, 0.85);
  /* --secondary-color: #1c1d1c93; */
  --secondary-color: rgba(244, 8, 8, 0);
  --text-color: #6b2323;
  --text-color-secondary: #923b3b93;
  --text-color-secondary-hover: #c15e5e;
  --button-color: #358d2b;
  --button-color-checked: #fbfbfb;
  --button-color-hover: #620303;
  --global-gap: 4cap;
  --global-border-radius: 1cap;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-color);  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */

}

