:root {
  --primary-color: #190035;
  /* --secondary-color: #1c1d1c93; */
  --secondary-color: rgba(4, 2, 50, 0.9);
  --text-color: #ffffff;
  --text-color-secondary: #949a9493;
  --text-color-secondary-hover: #353735;
  --button-color: #bab8b8;
  --button-color-checked: #959595;
  --button-color-hover: #8a8a8a;
  --global-gap: 4cap;
  --global-border-radius: 1cap;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-color);  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevent text selection on UI elements */
/* * {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
} */

/* Allow text selection only in inputs and contenteditable */
*:not(input):not(textarea):not([contenteditable="true"]):not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* place-items: center; */

}

p, h1, h2, h3, h4, h5, h6 {
  user-select:text;
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  
}

