.todo-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.todo-form-input {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.todo-form-button {
    width: 35px;
    height: 35px;
    background-color: var(--button-color);
    color: var(--primary-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
    font-size: 1.3em;
    font-weight: 900;
}

.todo-form-button:hover {
    background-color: var(--button-color-hover);
}

.todo-form-title {
    font-size: 3.2em;
    line-height: 1.1;
  }
  