.todo-form-container {
    display: flex;
    flex-direction: column;
    gap: var(--global-gap);
}


.todo-form-hero {
  border: 1px solid var(--button-color);
  border-radius: var(--global-border-radius);
  padding: 2cap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1cap;
  z-index: -999;
}


.todo-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1cap;
    max-width: 100%;
    background-color: var(--secondary-color);
    border-radius: var(--global-border-radius);
    padding: 2cap;
}

.todo-form-input {
    width: 80%;
    padding: 2cap;
    border: none;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--button-color);
    width: 100%;
    text-align: left;
    color: var(--text-color-secondary);
    font-weight: 600;
    font-size: .9em;
    font-weight: 600;
    color: var(--text-color-secondary);
    margin: 0;
    padding: 0;
    padding-bottom: 1cap;
}

.todo-form-input:focus {
    outline: none;
    border-bottom: 0;
}

.todo-form-button {
    width: 3cap;
    height: 3cap;
    background-color: var(--button-color);
    color: var(--primary-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
    font-size: 1.3cap;
    font-weight: 900;
}

.todo-form-button:hover {
    background-color: var(--button-color-hover);
}

.todo-form-title {
    font-size: 3.2cap;
    line-height: 1.1;
  }



  .todo-form-hero-progress{
    width: 10cap;
    height: 10cap;
    background-color: var(--button-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.8cap;
    font-weight: 600;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }


  .todo-form-hero p{
    font-size: 1.8cap;
    text-align: left;
  }

  .todo-form-hero h1{
    font-size: 3.2cap;
    font-weight: 600;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }


  