.todo-form-container {
    display: flex;
    flex-direction: column;
    gap: var(--global-gap);
}


.todo-form-hero {
  border-radius: var(--global-border-radius);
  padding: 2cap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1cap;
  
   /* glassmorphism */

   border-radius: 24px;
   /* white border for dark mode */
   padding: 2cap;
  z-index: -999;

}


.todo-form-hero-text{
    color: var(--text-color);
}


/* .todo-form-hero * {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
} */


.todo-form-hero:after{
    content: '';
    background: inherit; 
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;  
    bottom: 0;
    /* box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05); */
    filter: blur(10px);
    /* background-color: rgba(0, 0, 0, 0.1); */

   }


.todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1cap;
    max-width: 100%;
    background-color: var(--secondary-color);
    border-radius: var(--global-border-radius);
    padding: 2cap;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
}

.todo-form-input {
    width: 80%;
    padding: 2cap;
    border: none;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--button-color);
    width: 100%;
    text-align: left;
    color: var(--text-color-secondary);
    font-weight: 600;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color-secondary);
    margin: 0;
    padding: 0;
    padding-bottom: 1cap;
}

.todo-form-input:focus {
    outline: none;
    border-bottom: 0;
}

/* Allow text selection in input */
.todo-form-input {
    user-select: text;
    -webkit-user-select: text;
}

.todo-form-button {
    width: 100%;
    height: 100%;
    background-color: var(--button-color);
    color: var(--primary-color);
    border: none;
    /* border-radius: 50%; */
    border-radius: var(--global-border-radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
    font-size: 1.3cap;
    font-weight: 900;
    padding: 1cap;
    width: 10%;
}

.todo-form-button:hover {
    background-color: var(--button-color-hover);
}

.todo-form-button:focus {
    outline: none;
}

.todo-form-title {
    font-size: 3.2cap;
    line-height: 1.1;
  }



  .todo-form-hero-progress{
    width: 10vw;
    height: 10vw;
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
    background-color: var(--button-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: var(--text-color); */
    font-size: 1.8cap;
    font-weight: 600;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0 auto;
    color: var(--secondary-color);
  }


  .todo-form-hero p{
    font-size: 1.8cap;
    text-align: left;
  }

  .todo-form-hero h1{
    font-size: 3.2cap;
    font-weight: 600;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }


  
@media (max-width: 400px) {
    .todo-form-hero{
        display: grid;
        justify-content: center;
        align-items: center;
    } 
    .todo-form-hero-text {
        text-align: center;
    }
    .todo-form-hero-text p {
        text-align: center;
    }
    .todo-form-hero-progress {
        margin: 0 auto;
    }
    .todo-form-hero p{
        text-align: center;
    }
}



/* 
select option {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  outline: none;
  border-radius: var(--global-border-radius);
  padding: 1cap;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

select option:focus {
  outline: none;
  border: none;
}

select option:hover {
  background-color: var(--button-color-hover);
  color: var(--primary-color);
}

select value {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  outline: none;
  border-radius: var(--global-border-radius);
  padding: 1cap;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
} */