.todo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-top: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
}

.todo-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    gap: 10px;
}



.todo-item-button {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.todo-item-checkbox-button {
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--button-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.todo-item-checkbox-button-checked {
    padding: 10px;
    background-color: var(--button-color-checked);
    border: 1px solid var(--button-color-checked);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    position: relative;
}

.todo-item-checkbox-button-checked-icon {
    position: absolute;
    top: .2cap;
    left: .3cap;
    width: 2cap;
    height: 2cap;
    color: var(--text-color);
    z-index: 10;
}
.todo-item-text {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
} 


.todo-item-button{
    color: var(--text-color-secondary);
}